<%= render 'layouts/navbar' %>
<div class="container" >
	<div class ="row text-align">
		<div class= "twenty-pct">
			<div class="card" style="width: 15rem;">
		  <img class="card-img-top" alt="User image	" src=<%= current_user.image %>>
			  <div class="card-body">
			    <h4 class="card-title"><%= current_user.name %></h4>
			    <p class="card-text"><%= current_user.user_name %></p>
			  </div>
		</div>
	</div>
		<div class="eighty-pct">
			<nav class="navbar navbar-light">
				<a class="nav-item"><%= link_to "Overview", authorized_index_path %></a>
				<a class="nav-item"><%= link_to "Repositories", authorized_index_path %></a>
				<a class="nav-item"><%= link_to "Stars", authorized_stars_path %></a>
				<a class="nav-item"><%= link_to "Followers", authorized_followers_path %></a>
				<a class="nav-item"><%= link_to "Following", authorized_following_path %></a>
			</nav>
			<ul class="try">
				<% current_user.followers.each do |user| %>
				<li><%= link_to user.first, user.last %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

